@font-face {
    font-family: 'Comfortaa-medium';
    src: url('fonts/subset-Comfortaa-Medium.woff2') format('woff2'),
        url('fonts/subset-Comfortaa-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-regular';
    src: url('fonts/subset-Comfortaa-Regular.woff2') format('woff2'),
        url('fonts/subset-Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-bold';
    src: url('fonts/subset-Comfortaa-Bold.woff2') format('woff2'),
        url('fonts/subset-Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('fonts/subset-Quicksand-Bold.woff2') format('woff2'),
        url('fonts/subset-Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'quicksand-regular';
    src: url('fonts/subset-Quicksand-Regular.woff2') format('woff2'),
        url('fonts/subset-Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'quicksand-medium';
    src: url('fonts/subset-Quicksand-Medium.woff2') format('woff2'),
        url('fonts/subset-Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('pictures/home/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1 {
    font-family: 'quicksand-bold';
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

.pin-code{ 
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    justify-content:center;
    margin-top: 55px;
  } 
   
  .pin-code input { 
    border: none; 
    text-align: center; 
    color: white;
    width: 48px;
    height:48px;
    font-size: 36px; 
    background-color: transparent;
    border-bottom: 1px solid darkgray;
    margin-right:5px;
    margin-left: 25px;
    font-family: 'quicksand-bold';
  } 
  
  
  
  .pin-code input:focus { 
    border-bottom: 2px solid white;
    outline:none;
  } 
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  p {
    font-family: 'quicksand-bold';
    text-align: center;
    color: darkgray;
    margin-top: 25px;
    text-decoration: none;
  }

  h3 {
    margin-top: 25px;
  }

  .back {
    width: 100%;
    background-color: #070421;
    overflow: auto;
    position: absolute;
    top: 0;
  }
  
  .back a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-family: 'quicksand-bold';
    font-size: 17px;
  }
  
  .back a:hover {
    background-color: #000;
  }
  